body{
    display: flex;
    flex-direction:column;
    gap: 32px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    
}


#timer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border: 5px ridge black;
    margin-top: 30px;
    text-align: center;
   
}



.main_svg{
    border: 3px dashed pink;
  }

  .dashmother{
    display: flex;
    gap: 10px;
  }